
/.Rproj.user
/.Rhistory
/.RData
/.Ruserdata

/.quarto/
.Rproj.user/52B9D855/pcs/source-pane.pper
.Rproj.user/52B9D855/pcs/windowlayoutstate.pper
.Rproj.user/52B9D855/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
.DS_Store
