
/.Rproj.user
/.Rhistory
/.RData
/.Ruserdata
/r_demo_uy2/

/.quarto/
.Rproj.user/52B9D855/pcs/source-pane.pper
.Rproj.user/52B9D855/pcs/windowlayoutstate.pper
.Rproj.user/52B9D855/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
.DS_Store
ipums.R
ipumsi_00016.dat.gz
ipumsi_00016.R
ipumsi_00016.xml
